<!-- Photo Form -->
<div class="well" id="forms">
    <h6 class="docs-header">Post Photo</h6>
{#    <p>Post your latest photo entry using the form below. You can later attach more images or a gallery of photos this entry</p>#}
    <div class="docs-example docs-example-forms">
        <form id="poem-form" action="/photos/home" method="post" enctype="multipart/form-data" name="post">
            {{ form.csrf_token }}
            <div class="row">
            <div class="form-group">
                <label for="header">Title</label>
                {{ form.header(class="u-full-width", placeholder="Title") }}
                {% for error in form.header.errors %}
                    <span class="help-inline" style="color:red">[{{ error }}]</span><br>
                {% endfor %}
                <span id="error_header" class="help-inline" style="color:red"></span>
            </div>
            <div class="form-group">
                <label for="entry_photo">Photo</label>
                {{ form.entry_photo(class="u-full-width", placeholder="Photo", id="file-input") }}
                <div id="result" class="result">
                    <p></p>
                </div>
                <div id="exif" class="exif">
                    <table></table>
                </div>
                {% for error in form.entry_photo.errors %}
                    <span class="help-inline" style="color:red">[{{ error }}]</span><br>
                {% endfor %}
                <span id="error_header" class="help-inline" style="color:red"></span>
            </div>
            <div class="form-group">
                <label for="body">Body</label>
                {{ form.body(class="u-full-width", placeholder="Body", id="body-text") }}
                {% for error in form.body.errors %}
                    <span class="help-inline" style="color:red">[{{ error }}]</span><br>
                {% endfor %}
                <div id="editable"></div>
                <span id="error_header" class="help-inline" style="color:red"></span>
            </div>
            {% if page_mark == "home" %}
                <div class="form-group">
                    <label for="writing_type">Writing Type</label>
                    {{ form.writing_type(class="u-full-width") }}
                    {% for error in form.writing_type.errors %}
                        <span class="help-inline" style="color:red">[{{ error }}]</span><br>
                    {% endfor %}
                    <span id="error_writing_type" class="help-inline" style="color:red"></span>
                </div>
            {% endif %}
            <input class="button-primary" type="submit" value="Post Photo">
            </div>
        </form>
    </div>
</div>