<form id="poem-form" action="{{ url_for('posts', page_mark=page_mark) }}" method="post" enctype="multipart/form-data" name="post">
    {{ form.csrf_token }}
    <div class="form-group">
        <label for="header">Title</label>
        {{ form.header(class="form-control", placeholder="Title") }}
        {% for error in form.header.errors %}
            <span class="help-inline" style="color:red">[{{ error }}]</span><br>
        {% endfor %}
        <span id="error_header" class="help-inline" style="color:red"></span>
    </div>
    <div class="form-group">
        <label for="photo">Photo</label>
{#        {{ form.photo(class="form-control", placeholder="Photo", id="file-input") }}#}
        <p><input type="file" id="file-input"></p>
        <div id="result" class="result">
            <p>This demo works only in browsers with support for the <a href="https://developer.mozilla.org/en/DOM/window.URL">URL</a> or <a href="https://developer.mozilla.org/en/DOM/FileReader">FileReader</a> API.</p>
        </div>
        <br>
        <div id="exif" class="exif">
            <table></table>
        </div>
        <br>
        {% for error in form.photo.errors %}
            <span class="help-inline" style="color:red">[{{ error }}]</span><br>
        {% endfor %}
        <span id="error_header" class="help-inline" style="color:red"></span>
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        {{ form.body(class="form-control", placeholder="Body", id="show-form") }}
        {% for error in form.body.errors %}
            <span class="help-inline" style="color:red">[{{ error }}]</span><br>
        {% endfor %}
        <div id="editable" class="hide"></div>
        <span id="error_header" class="help-inline" style="color:red"></span>
    </div>
{#    {% if page_mark == "home" %}#}
        <div class="form-group">
            <label for="writing_type">Writing Type</label>
            {{ form.writing_type(class="form-control") }}
            {% for error in form.writing_type.errors %}
                <span class="help-inline" style="color:red">[{{ error }}]</span><br>
            {% endfor %}
            <span id="error_writing_type" class="help-inline" style="color:red"></span>
        </div>
{#    {% endif %}#}
    <noscript>
        <button id="target" type="submit" class="btn btn-primary">Submit Post</button>
    </noscript>
</form>

{#<script>#}
{#    document.getElementById("editable").className = "show";#}
{#    document.getElementById("show-form").className = "hide";#}
{#    $('#editable').wysihtml5({#}
{#    toolbar: {#}
{#        "style": true,#}
{#        "font-styles": true,#}
{#        "emphasis": true,#}
{#        "lists": true,#}
{#        "html": false,#}
{#        "link": false,#}
{#        "image": false,#}
{#        "color": false,#}
{#        fa: true,#}
{#        ellipsis: false,#}
{#        strikethrough: true#}
{#    }#}
{#    });#}
{#</script>#}