<!-- Photo Form -->
<div class="well">
    <h6 class="docs-header">Post Photo</h6>
    <p>Post your latest photo entry using the form below. You can later attach more images or a gallery of photos this entry</p>
    <div class="docs-example docs-example-forms">
    <form id="s3-form" action="{{ form.action }}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="acl"    value="{{ form.acl }}">
        <input type="hidden" name="key"    value="{{ form.key }}">
        <input type="hidden" name="policy" value="{{ form.policy }}">
        <input type="hidden" name="success_action_status" value="200">
{#        <input type="hidden" name="success_action_status_redirect" value="http://localhost:8000/photos/home">#}
        <input type="hidden" name="x-amz-algorithm"  value="{{ form['x-amz-algorithm'] }}">
        <input type="hidden" name="x-amz-credential" value="{{ form['x-amz-credential'] }}">
        <input type="hidden" name="x-amz-date"       value="{{ form['x-amz-date'] }}">
        <input type="hidden" name="x-amz-signature"  value="{{ form['x-amz-signature'] }}">
        <div id="result" class="result">
            <p></p>
        </div>
        <div id="exif" class="exif">
            <table></table>
        </div>
        <input id="file-input" type="file" name="file">
        <input class="button-primary" id="photo-submit" type="submit" value="Post Photo">
    </form>
    </div>
</div>