<!-- 30em = 480px, 50em = 800px -->
<img sizes="(max-width: 30em) 47vw,
            (max-width: 50em) 31vw,
            23vw"
     srcset="https://assets.imgix.net/unsplash/bridge.jpg?w=200&h=200&fit=crop&q=85&auto=format&sharp=10 200w,
             https://assets.imgix.net/unsplash/bridge.jpg?w=400&h=400&fit=crop&q=85&auto=format&sharp=10 400w,
             https://assets.imgix.net/unsplash/bridge.jpg?w=800&h=800&fit=crop&q=85&auto=format&sharp=10 800w,
             https://assets.imgix.net/unsplash/bridge.jpg?w=1600&h=1600&fit=crop&q=85&auto=format&sharp=10 1600w"
     src="https://assets.imgix.net/unsplash/bridge.jpg?w=400&h=400&fit=crop&q=85&auto=format&sharp=10"
     alt="My image"
     id="textonhover"
>
{#    {{ post.header }}#}

