<div class="value-props row">
   {% if posts[1] %}
       {% set post = posts[1] %}
       {% include "archive_entry.html" %}
   {% endif %}
   {% if posts[2] %}
       {% set post = posts[2] %}
       {% include "archive_entry.html" %}
   {% endif %}
</div>
<div class="value-props row">
    {% if posts[3] %}
        {% set post = posts[2] %}
        {% include "archive_entry.html" %}
    {% endif %}
    {% if posts[4] %}
        {% set post = posts[4] %}
        {% include "archive_entry.html" %}
    {% endif %}
</div>