<!DOCTYPE html>
<html lang="en" id="{{ page_mark }}">
    <head>
        <!-- Basic Page Needs
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        <title>Aperturus</title>
        <meta name="description" content="">
        <meta name="keywords" content="Pending" />
        <meta name="author" content="">
        <meta name="csrf-token" content="{{ csrf_token() }}">

        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        {% assets "css_app" %}
            <link rel="stylesheet" href="{{ local_static_url }}gen/app.css">
        {% endassets %}

        <!-- Favicon
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="icon" type="image/png" href="{{ static_url }}img/aperturus/favicon.png">
    </head>
	<body>
        <div class="bodycontainer" id="photo-app">
            <header>
                <div id="sub-header">
                    <div id="headline"></div>
                    <img src="{{ static_url }}img/aperturus/logo2.svg" alt="Site Icon">
                </div>
                <nav class="navbar">{% include 'navbar.html' %}</nav>
            </header>

            <main>
                <div id="photo-main"></div>
                <ul id="img-list"></ul>
            </main>
        </div>
        {% block scripts %}
            {% assets "js_libs" %}
                <script type="text/javascript" src="{{ static_url }}gen/libs.js"></script>
            {% endassets %}
            {% assets "js_app" %}
                <script type="text/javascript" src="{{ static_url }}gen/app.js"></script>
            {% endassets %}
        {% endblock %}
	</body>
</html>