<!DOCTYPE html>
<html lang="en" id="{{ page_mark }}">
    <head>

        <!-- Basic Page Needs
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        <title>Aperturus</title>
        <meta name="description" content="">
        <meta name="keywords" content="Pending" />
        <meta name="author" content="">
        <meta name="csrf-token" content="{{ csrf_token() }}">

        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        {% assets "css_app" %}
            <link rel="stylesheet" href="{{ static_url }}gen/app.css">
        {% endassets %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <!-- Favicon
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="icon" type="image/png" href="{{ static_url }}img/aperturus/favicon.png">
    </head>
	<body>
        <div class="bodycontainer" id="photo-app">
            <header>
                <div id="sub-header">
                    <div id="headline">
                        {% if assets %}{{ assets.title|safe if assets.title != None }}{% endif %}
                    </div>
                    <img src="{{ static_url }}img/aperturus/logo2.svg" alt="Site Icon">
                </div>
                <nav class="navbar">{% include 'navbar.html' %}</nav>
            </header>

            <main>
                {% if assets %}
                    <div id="photo-main">{{ assets.main_entry|safe if assets.main_entry != None }}</div>
                    <ul id="img-list">{{ assets.archives|safe if assets.archives != None }}</ul>
                    <div id="body-form">{{ assets.body_form|safe if assets.body_form != None }}</div>
                {% endif %}
            </main>
        </div>
	</body>
</html>