html {
    font-size: 62.5%;
    min-width: 320px; }
body {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    padding: 0;
    margin: 0;
}
.bodycontainer {
    position: relative;
    width: 93vw;
    max-width: 1280px;
    margin: 0 3.5vw 0 3.5vw;
}
/** Typography **/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0;
}
/** Larger than phablet **/
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}
p {
  margin-top: 0;
}
a {
  color: #1EAEDB;
}
a:hover {
  color: #0FA0CE;
}
#sub-header {
    clear: both;
    overflow: hidden;
    width: 92.5vw;
    border-bottom: .3rem solid black;
    max-width: 1280px;
}
#sub-header img {
    width: 6rem;
    float: right;
    padding-top: .3rem;
}

table {
  table-layout: fixed;
  width: 100%
}
#title section::first-letter {
    text-transform: uppercase
}
.well {
  box-shadow: 0 0 5px #888;
  padding: 1rem;
  border-radius: 5px;
}

/** Slicknav styling **/
#nav {
    position:fixed;
    width:100%;
    text-transform:uppercase;
    font-weight:600;
    font-size:1.125em;
    padding:1em;
    background:#fff;
    z-index:999;
}

#nav ul {
    padding:0;
    margin:0;
}

#nav li {
    display:inline-block;
    padding:0.5em 0.5em;
}

.lt-ie8 {
    display:inline;
    zoom:1;
}

#nav a {
    color:#333333;
    text-decoration:none;
}

#nav a:hover {
    border-bottom:4px solid #ea0b25;
}

#mobileMenu {
    display:none;
}

/** Archive Images **/
.main-responsive-img {
    width: 92.5vw;
    max-width: 1280px;
    margin-bottom: .5vw;
    display: block;
    float: left;
}
.responsive-img {
    width: 46vw;
    display: block;
    float: left;
}
ul#img-list li:hover span.text-content {
    opacity: 1;
}
ul#img-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul#img-list li {
    display: inline-block;
    position: relative;
    padding: 0 .5vw .5vw 0;
}
span.text-content {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 2rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 46vw;
    opacity: 0;
    transition: opacity 500ms;
}
span.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
/** 640 pixels or greater (includes most mobiles in landscape) **/
@media(min-width:40em) {
    #sub-header img { width: 8.5rem; padding-top: .5rem;}
    #headline { font-size: 9rem; }
    .responsive-img { width: 30.5vw; }
    span.text-content { width: 30.5vw; }
}
/** 960 pixels or greater -- includes most tablets in landscape **/
@media(min-width:60em){
    ul#img-list li:nth-child(4n) { padding-right: 0; }
    .responsive-img { width: 22.75vw; max-width: 315px;}
    span.text-content { width: 22.75vw; max-width: 315px;}
}
/** 1384 pixels or greater -- site container at full-width of 1280px from this point **/
@media(min-width:86.5em) {
    ul#img-list li:not(:nth-child(4n)) { padding-right: 6px; }
    .bodycontainer { margin-left: calc((100vw - 1280px)/2); }
}

/* Slicknav Mobile Sizing */
@media only screen and (max-width: 767px) {
    .slicknav_menu {
            background: white !important;
            border-bottom: .3rem solid black;
    }

    /*.slicknav_brand {*/
        /*background: url(../img/aperturus/logo2.svg) no-repeat 0 0;*/
        /*background-size: auto 100%;*/
    /*}*/

    #branding {
        font-size: 4.5rem;
        font-weight: 300;
        letter-spacing: -3.5px;
    }


	.js #main-menu {
		display:none;
	}

	.js #mobileMenu {
		display:block;
		position:fixed;
		width:92.5%;
		z-index:1000;
	}

	.js #nav{
		text-align:center;
	}

	#nav {
        position: relative;
    }

	#nav img {
		display:block;
		margin:0 auto;
	}

	#main {
		padding:0;
	}

	#nav ul {
		text-align: center;
		font-size:0.6em;
		line-height: 1.5em;
	}

	#nav ul li {
		padding:0.25em;
	}

	h2 {
		font-size:2em;
	}
}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {}
