body {
    background-color: #fff;
    min-width: 320px;
    font-family: "minion-pro-1", "minion-pro-2", "Times New Roman", serif;
}
body>div {
    -webkit-transition: all 1s ease-in-out
}
ul, ol, li, h1, h2, h3 {
    margin: 0;
    padding: 0
}
div {
    display: block
}
span {
    display: block
}
ul, li {
    list-style: none
}
img {
    border: 0
}
a {
    color: #000;
    text-decoration: none
}
p a, p a:visited, p a:hover, p a:active {
    color: #5788aa;
    text-decoration: none
}


/*.login {*/
    /*float: left;*/
/*}*/
/*.login ul {*/
    /*list-style-type: none;*/
/*}*/
/*.login li {*/
    /*display: inline-block;*/
    /*box-sizing: border-box;*/
    /*vertical-align: top;*/
    /*text-transform: uppercase;*/
    /*padding: 1rem 1rem 0 0;*/
    /*margin: 1rem 1rem 0 0;*/
    /*border-right: 1px solid #ddd;*/
    /*font-size: 1rem;*/
/*}*/
/*.login li:last-child {*/
    /*border-right: none;*/
/*}*/
/*!*selected states*!*/
/*#login .n-login a {*/
	/*color: #000;*/
	/*border-bottom: 2px solid #E1B200;*/
/*}*/
/*.login-btns {*/
    /*width: 50%;*/
    /*float: left;*/
    /*margin-top: 3%;*/
/*}*/

/*.login-btns:last-child {*/
    /*border-left: #0044cc 2px solid;*/
    /*padding-left: 2%;*/
/*}*/

/*.login-btns ul {*/
  /*list-style-type:none;*/
  /*padding:0;*/
  /*margin:0;*/
/*}*/

/*.login-btns ul li { margin-bottom:10px; }*/

/*.login-btns ul li a {*/
    /*text-align:center;*/
    /*width: 95%;*/
/*}*/
.logo {
    width: 80%;
    background: #fff;
    margin: 0 auto;
    max-width: 600px;
    padding: 0 10px 5px 10px;

}

/* Required to make image fluid in IE */
.logo img:not(.png) {
    width: 100%;
    height: 20%;
}

#head-wrap {
    width: 100%;
    margin: 0 auto;
    background-color: #fff
}
.header-wrapper {
    width: 100%;
    position: fixed;
    z-index: 999999999;
    top: 0
}
#header {
    margin-top: 0;
    padding-top: 5px;
    border-bottom: #c8c8c8;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 9999999;
    top: 0;
}
.border-header {
    border-bottom: double #c8c8c8;
    clear: both
}
#sub-header {
    clear: both;
    border-bottom: 20px solid black;
    overflow: hidden;
    margin-top: 150px;
    margin-left: 40px;
    margin-right: 40px;
    text-transform: capitalize;
}
#headline {
    font-size: 170px;
    line-height: 129px;
    font-weight: 600;
    float: left;
    width: 68%;
    letter-spacing: -3.5px;
    position: relative
}
#headline img {
    width: 100%
}

#title section::first-letter {
    text-transform: uppercase
}
#content p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    background-color: #fff;
    display: block;
    float: left;
    clear: both;
    max-width: 1280px;
    width: 97%
}
#content .content-inside {
    margin-left: 3.125%;
    margin-right: 3.125%
}
.content-inside div {
    position: relative;
    float: left;
    display: inline-block
}
#featured-articles {
    border-bottom: 1px solid #e5e5e5;
}
.top-article-image {
    width: 46.29032258%;
    height: auto;
    margin-top: 20px
}
.top-article-image img {
    width: 98%
}
.top-article-content {
    width: 46.2903%;
    margin-left: 2.786885%;
    margin-top: 20px
}
.author-content {
    width: 100%;
    height: 25px;
    letter-spacing: 1px;
    font-family: "proxima-nova", sans-serif;
}
.author-content img {
    width: 100%
}
.author-content .author {
    margin-right: 10px
}
.mobile-author-name {
    font-size: 7pt;
    color: #666;
    display: none !important
}
.author-name {
    -webkit-font-smoothing: antialiased
}
.author-name span {
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 7px;
    display: inline;
    line-height: 12px;
    float: left;
    font-family: "proxima-nova", sans-serif;
}
.move-right {
    margin-left: 12px
}
.first-name {
    color: #959595
}
.last-name {
    color: #f43736;
    font-size: 12px;
    font-weight: 600
}
.top-article-title {
    padding-top: 7px;
    padding-bottom: 10px;
    font-size: 34pt;
    font-weight: 600;
    width: 100%;
    line-height: 47px;
}
.medium-article-half-page {
    min-height: 168px;
    width: 47.5%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.medium-article-half-page img {
    width: 100%
}
.medium-article-image {
    max-width: 280px;
    width: 50%;
    height: 168px
}
.medium-article-content {
    width: 50%;
    padding-top: 15px;
}
.medium-article-content .author-content {
    padding-top: 0;
    margin-top: 0
}
.medium-article-title {
    font-size: 16pt;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 12px;
    margin-right: 35px;
    line-height: 22px
}
.the-latest-background {
    max-width: 1200px;
    width: 100%;
    border-top: 2px solid #e5e5e5;
}
.the-latest-header {
    width: 100%;
    height: 12px;
    margin-top: 55px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 16px
}
.the-latest-logo {
    font-family: "proxima-nova", sans-serif;
    font-size: 16px;
    color: #999
}
.latest-word {
    color: #000;
    display: inline-block;
    font-weight: 600
}
#section-wrapper {
        width: 98%;
}
.the-latest-article {
    margin-top: 19px;
    width: 100%;
    border-bottom: 1px solid #d6d6d6
}
.the-latest-content {
    margin-left: 13.75%;
    width: 42%
}
.the-latest-article-title {
    clear: both;
    margin-top: 6px;
    font-weight: 600;
    max-height: 78px;
    font-size: 1.8rem;
    line-height: 29px;
    text-align: left
}
.the-latest-article-title p {
}
.the-latest-date {
    clear: both;
    float: left;
    font-family: "Arial", sans-serif;
    color: #999;
    font-size: 11px;
    margin-top: 20px;
    letter-spacing: 0;
    padding-bottom: 20px
}
.the-latest-image {
    width: 30%;
    height: auto;
    float: right !important;
    margin-right: 13.75%;
    margin-bottom: 24px;
    margin-top: 10px
}
.the-latest-image img {
    width: 100%
}
.load-more {
    clear: both;
    width: 200px;
    margin: 0 auto;
    float: none;
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "proxima-nova", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased
}
.load-more.hide {
    display: none !important
}
@media all and (min-width: 980px) {
    .container {
        float: left
    }
    #headline {
        min-height: 125px
    }
    #headline #title {
        position: absolute;
        bottom: 0
    }
    .medium-article-title {
        margin-top: 7px
    }
    .section-content {
        float: left
    }
}
@media all and (min-width: 440px) and (max-width: 979px) {
    #head-wrap {
        max-width: 800px;
    }
    .header-wrapper {
        max-width: 800px;
    }
    #header {
        max-width: 800px;
    }
    #content {
        max-width: 800px;
    }
    #content .content-inside {
        margin-left: 20px;
        margin-right: 20px
    }
    .border-header {
        margin-left: 20px;
        margin-right: 20px
    }
    #sub-header {
        margin-top: 100px;
        margin-left: 20px;
        margin-right: 20px
    }
    #headline {
        min-height: 115px;
        padding-top: 0;
        font-size: 112px;
        line-height: 83px;
        width: 46%
    }
    #headline #title {
        position: absolute;
        bottom: -2px
    }
    #headline img {
        background-size: contain;
        width: 100%;
        position: absolute;
        bottom: 40%
    }
    #content .content-inside {
        margin-left: 2.6%;
        margin-right: 0
    }

    .top-article-image {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover
    }
    .top-article-content {
        width: 100%;
        margin-left: 0;
        height: auto
    }
    .medium-article-content {
        width: 100%
    }
    .medium-article-content .author {
        margin-top: 9px
    }
    .medium-article-content .author-content {
        padding-top: 0;
        height: auto
    }
    .medium-article-half-page {
        margin-top: 32px;
        width: 47.5%;
        margin-bottom: 30px
    }
    .content-inside>div:nth-child(2) {
        margin-right: 20px
    }
    .content-inside>div:nth-child(3) {
        margin-right: 0
    }
    .medium-article-image {
        width: 100%;
        max-width: initial;
        height: 215px;
        background-repeat: no-repeat;
        background-size: cover
    }
    .medium-article-right-margin {
        margin-right: 2.747%
    }
    .medium-article-title {
        margin-left: 0
    }
    .the-latest-article {
        height: auto
    }
   .the-latest-content {
        margin-left: 0;
        width: 70%
    }
    .the-latest-image {
/*        width: 24.3%;*/
        margin-right: 0;
        margin-bottom: 25px
    }
    .the-latest-article-title {
        width: 100%;
        letter-spacing: 1px;
    }
    .the-latest-date {
        font-family: "Arial", sans-serif;
    }
    .the-latest-content .author-content {
        padding-top: 4px
    }
    .move-right {
        margin-left: 2px
    }
}
@media all and (max-width: 439px) {
    #head-wrap {
        max-width: 320px !important
    }
    #content {
        margin-left: 0;
        margin-right: 0;
    }
    #header {
        min-width: 350px;
        padding-top: 8px;
        margin-top: 0;
        border: 0
    }
    #sub-header {
        border-bottom: 6px solid #000;
        overflow: visible;
        margin: 20px;
        float: left;
        width: 100%;
    }
    .border-header {
        margin-left: 0;
        margin-right: 0;
        padding-top: 0
    }
    .mobile-top-ad {
        display: block;
        margin-top: 55px;
        padding-top: 10px;
        float: left;
        position: relative
    }
    #headline {
        margin-top: 0;
        padding-top: 0;
        width: 100%
    }
    #headline img {
        background-size: contain
    }
    .author-content {
        padding-top: 0 !important
    }
    .the-latest-header {
        font-size: 12px
    }
    .the-latest-logo {
        font-size: 12px
    }
    #headline #title {
        letter-spacing: -2.8px
    }
    #headline {
        font-size: 37pt;
        line-height: 37pt
    }
    .top-article-image {
        width: 100%;
        background-size: cover
    }
    .top-article-content {
        width: 100%;
        height: auto;
        margin-top: 0 !important
    }
    .author-content {
        margin-top: 0;
        padding-top: 13px;
        font-size: 11pt;
        margin-left: 18px
    }
    .top-article-content {
        margin-left: 0
    }
    .top-article-content .author-content {
        display: inline-block !important;
        margin-left: 0;
        padding-top: 14px
    }
    .top-article-title {
        padding-top: 0;
        padding-bottom: 10px;
        font-size: 16pt;
        line-height: 23px;
        border-bottom: 1px solid #e5e5e5 !important;
    }
    .medium-article-half-page {
        min-height: initial;
        margin-top: 15px;
        width: 100%;
        padding-bottom: 19px;
        margin-bottom: 2px;
        line-height: 16px
    }
    .medium-article-half-page .first-name,
    .medium-article-half-page .last-name {
        color: #666;
        font-weight: 100 !important;
        text-transform: initial !important;
        font-size: 1rem;
    }
    .medium-article-image {
        width: 112px;
        height: 68px;
        background-size: cover
    }
    .medium-article-content {
        margin-left: 15px
    }
    .medium-article-title {
        min-height: initial;
        font-size: 15px;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        width: 154px;
        line-height: 16px;
        font-weight: 900
    }
    .author-content {
        display: none !important;
        margin-top: 0;
        padding-top: 0
    }
    .mobile-author-name {
        display: initial !important
    }
    .the-latest-header {
        margin-bottom: 2px
    }
    .the-latest-article {
        height: auto;
        padding-bottom: 0;
        margin-top: 11px
    }
    .the-latest-header {
        margin-top: 10px
    }
    .the-latest-article-title {
        font-size: 16px;
        font-weight: 600;
        width: 100%;
        line-height: 16px
    }
    .the-latest-content {
        margin-left: 0;
        width: 150px
    }
    .the-latest-content .author-content {
        display: initial !important;
        height: auto;
        margin-left: 0
    }
    .the-latest-image {
        width: 112px;
        height: 70px;
        margin-right: 0;
        margin-top: 8px
    }
    .load-more {
        width: 145px;
        font-size: 11px;
        letter-spacing: 1px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.gray-rollover:hover,
.gray-rollover span p:hover,
.gray-rollover a span p:hover,
.gray-rollover a p:hover {
    color: #9a9a9a
}
.image-rollover img:hover,
.image-rollover a img:hover {
    filter: brightness(0.7); alpha(opacity=70);
    /*-webkit-filter: brightness(0.7);*/
    /*-moz-filter: brightness(0.7);*/
    /*-o-filter: brightness(0.7);*/
    /*-ms-filter: "alpha(opacity=70)";*/
    /*filter: alpha(opacity=70);*/
}

/*Form Overrides*/

#editable {
    width: 100%;
    font-size: large;
    min-height: 100px;
    padding:1rem 1rem 0 1rem;
    margin-bottom: 1rem;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: beige;
}

/*.login-btns {*/
    /*width: 50%;*/
    /*float: left;*/
    /*margin-top: 3%;*/
/*}*/

/*.login-btns:last-child {*/
    /*border-left: #0044cc 2px solid;*/
    /*padding-left: 2%;*/
/*}*/

/*.login-btns ul {*/
  /*list-style-type:none;*/
  /*padding:0;*/
  /*margin:0;*/
/*}*/

/*.login-btns ul li { margin-bottom:10px; }*/

/*.login-btns ul li a {*/
    /*text-align:center;*/
    /*width: 95%;*/
/*}*/

#edit-button {
    color:#8787c1;
}

#delete-button {
    color:#8787c1;
}

.btn.jumbo {
    font-size: 16px;
    margin-bottom: 1%;
    font-weight: normal;
    padding: 7px 12px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.wysihtml5-toolbar {
    display: none;
}

#post-div {
    display: none;
}

#comments {
 border-bottom: 1px solid #ddd;
}

.frame {
    padding:1rem 1rem 0 1rem;
    margin-bottom: 1rem;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: beige;
}

.pull-right img {
	margin-top: 1rem;
	max-height: 130px;
}