<div id="head-wrap">
    <div class="container">
        <div class="section-content">
              <!-- start content -->
              <div id="content">
                 <!-- start content inside-->
                 <div class="content-inside">
                    <!-- start featured-articles -->
                    <div id="featured-articles">
                       <a href="#">
                          <div class="top-article-image image-rollover"><img src="{{ local_static_url }}img/user_imgs/test8X12.jpg" alt="article image"></div>
                       </a>
                       <!-- start top-article-content -->
                       <div class="top-article-content">
                          <div class="author-content">
                             <div class="author">
                                <div class="author-name">
                                   <span class="first-name">Steve</span>
                                   <span class="last-name">&nbsp;Javors</span>
                                </div>
                             </div>
                          </div>
                          <div class="top-article-title gray-rollover">
                             <a href="#">
                                <p>How app-connected sex toys are changing intimacy</p>
                             </a>
                          </div>
                       </div>
                       <!-- end top-article-content -->
                    </div>
                    <!-- end featured-articles -->
                    <!-- start medium-article-half-page -->
                    <div class="medium-article-half-page">
                       <div class="medium-article-image image-rollover">
                          <a href="#">
                          <img src="{{ local_static_url }}img/user_imgs/test8X12.jpg" alt="article image">
                          </a>
                       </div>
                       <div class="medium-article-content gray-rollover">
                          <div class="author-content">
                             <div class="author">
                                <div class="author-name  move-right">
                                   <span class="first-name">Tasting Table </span>
                                   <span class="last-name">&nbsp; Staff</span>
                                </div>
                             </div>
                          </div>
                          <div class="medium-article-title">
                             <a href="#">
                                <p>How to make unicorn milk</p>
                             </a>
                          </div>
                          <div class="mobile-author-name">
                             <div class="author">
                                <div class="author-name">
                                   <span class="first-name">Tasting Table </span>
                                   <span class="last-name">&nbsp; Staff</span>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <!-- end medium-article-half-page -->
                    <!-- start medium-article-half-page -->
                    <div class="medium-article-half-page medium-article-right-margin">
                       <div class="medium-article-image image-rollover">
                          <a href="#">
                          <img src="{{ local_static_url }}img/user_imgs/test8X12.jpg" alt="article image">
                          </a>
                       </div>
                       <div class="medium-article-content gray-rollover">
                          <div class="author-content">
                             <div class="author">
                                <div class="author-name  move-right ">
                                   <span class="first-name">David </span>
                                   <span class="last-name">&nbsp; Baker</span>
                                </div>
                             </div>
                          </div>
                          <div class="medium-article-title">
                             <a href="#">
                                <p>Meet the Al Gore of Polynesia</p>
                             </a>
                          </div>
                          <div class="mobile-author-name">
                             <div class="author">
                                <div class="author-name">
                                   <span class="first-name">David </span>
                                   <span class="last-name">&nbsp; Baker</span>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <!-- end medium-article-half-page -->
                    <!-- start the-latest-background -->
                    <div class="the-latest-background">
                       <!-- start the-latest-header -->
                       <div class="the-latest-header">
                          <div class="the-latest-logo">
                             More articles<span class="latest-word">&nbsp;in feature</span>
                          </div>
                       </div>
                       <!-- end the-latest-header -->
                       <!-- start section-wrapper -->
                       <div id="section-wrapper">
                             <div class="the-latest-article gray-rollover page-1 ">
                                <div class="the-latest-content">
                                   <div class="author-content">
                                      <div class="author">
                                         <div class="author-name">
                                            <span class="first-name">Janna </span>
                                            <span class="last-name">&nbsp; Herron</span>
                                         </div>
                                      </div>
                                   </div>
                                   <div class="the-latest-article-title gray-overlay">
                                      <a href="#">
                                         <p>How to do your taxes on your smartphone</p>
                                      </a>
                                   </div>
                                   <div class="the-latest-date">
                                      February 14, 2016
                                   </div>
                                </div>
                                <div class="the-latest-image image-rollover">
                                   <a href="#">
                                   <img src="{{ local_static_url }}img/user_imgs/test8X12.jpg" alt="article image">
                                   </a>
                                </div>
                             </div>
                             <!-- the-latest-article -->
                             <div class="the-latest-article gray-rollover page-1 ">
                                <div class="the-latest-content">
                                   <div class="author-content">
                                      <div class="author">
                                         <div class="author-name">
                                            <span class="first-name">Janna </span>
                                            <span class="last-name">&nbsp; Herron</span>
                                         </div>
                                      </div>
                                   </div>
                                   <div class="the-latest-article-title gray-overlay">
                                      <a href="#">
                                         <p>How to do your taxes on your smartphone</p>
                                      </a>
                                   </div>
                                   <div class="the-latest-date">
                                      February 14, 2016
                                   </div>
                                </div>
                                <div class="the-latest-image image-rollover">
                                   <a href="#">
                                   <img src="{{ local_static_url }}img/user_imgs/test8X12.jpg" alt="article image">
                                   </a>
                                </div>
                             </div>
                             <!-- end the-latest-article -->
                       </div>
                       <!-- end section wrapper -->
                    </div>
                    <!-- end the-latest-background -->
                 </div>
                 <!-- end content-inside -->
              </div>
              <!-- end content -->
        </div>
        <!-- end section-content -->
    </div>
    <!-- end container -->
</div>
<!-- end head wrap -->
<a class="load-more" href="?xhr=1&amp;page=3">More Articles</a>