<!DOCTYPE html>
<html lang="en" id="{{ page_mark }}">
    <head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Aperturus</title>
    <meta name="description" content="">
    <meta name="keywords" content="Pending" />
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ local_static_url }}css/normalize.css">
    <link rel="stylesheet" href="{{ local_static_url }}css/skeleton.css">
    <link rel="stylesheet" href="{{ local_static_url }}css/custom.css">
    <link rel="stylesheet" href="{{ local_static_url }}css/easy-responsive-tabs.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{{ local_static_url }}img/aperturus/favicon.png">

    </head>
	<body>
        <div class="container">
            <header>
                <div class="row header">
                    <div class="12 columns columns-sm center-align">
                        <img class="u-max-full-width" src="{{ local_static_url }}img/aperturus/fullbanner.svg">
                    </div>
                </div>
                <div id="sub-header">
                    <div id="headline" class="feature-headline">
                        <div id="title"><section>{{ page_mark }}</section></div>
                    </div>
                </div>
                <div class="navbar-spacer"></div>
                <nav class="navbar">{% include 'navbar.html' %}</nav>
            </header>

            <main>
                {% block content %}{% endblock %}
            </main>

            <footer>
            <div id="entry-forms">
                {% if assets %}
{#                    {{ assets.body_form|safe if assets.body_form != None }}#}
                    {{ assets.image_form|safe if assets.image_form != None }}
                {% endif %}
            </div>
            </footer>
            {% block scripts %}
                <script src="{{ local_static_url }}js/_libs/jquery/jquery-2.2.0.min.js"></script>
                <script src="{{ local_static_url }}js/_libs/nunjucks.min.js"></script>
                <script src="{{ local_static_url }}js/_libs/easyResponsiveTabs.js"></script>
                <script src="{{ local_static_url }}js/_libs/canvas-to-blob.min.js"></script>
                <script src="{{ local_static_url }}js/_libs/load-image.all.min.js"></script>
                <script src="{{ local_static_url }}js/_libs/backbone/underscore.js"></script>
                <script src="{{ local_static_url }}js/_libs/backbone/backbone.js"></script>
                <script src="{{ local_static_url }}js/_libs/backbone/backbone-model-file-upload.js"></script>
                <script src="{{ local_static_url }}js/app.js"></script>
            {% endblock %}
        </div>
	</body>
</html>