{% extends "base.html" %}

{% block content %}

    {% include 'flash.html' %}
    {{ assets.body_form|safe if assets.body_form != None }}
    {% if page_mark == "members" %}{% include 'members.html' %}{% endif %}

    {% if page_mark == "profile" or page_mark == "portfolio" or page_mark == "workshop" or page_mark == "home" %}
        {% include 'assets/photos/photos.html' %}
{#        {% include 'assets/posts/postie.html' %}#}
    {% endif %}

    {% if page_mark == "detail" %}
        {% include 'assets/posts/post.html' %}
    {% endif %}

    {% if page_mark == "portfolio" or (page_mark == "home" and editor == True) %}
        <noscript>
            <h1>Create new entry</h1>
            <div class="well">{% include 'assets/forms/poem_form.html' %}</div>
        </noscript>
        <script id="formTemplate" type="text/template">{% include 'assets/forms/poem_form.html' %}</script>
        <div id="myPortfolio"></div>
    {% endif %}

{% endblock %}