<!DOCTYPE html>
<html lang="en" id={{ page_mark }} >
	<head>
		<meta charset="utf-8">

		<title>
			Netbard
		</title>

		<meta name="description" content="Pending" />
		<meta name="keywords" content="Pending" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
{#        <meta name="csrf-token" content="{{ csrf_token() }}">#}

		<!-- Favicon -->
		<link rel="shortcut icon" href="{{ local_static_url }}img/icons/favicon.ico" type="image/x-icon">
        <link rel="icon" href="{{ local_static_url }}img/icons/favicon.ico" type="image/x-icon">


		<!-- CSS -->
{#            <link rel="stylesheet" href="{{ local_static_url }}css/bootstrap.min.css" />#}
            <link rel="stylesheet" type="text/css" media="all" href="{{ local_static_url }}css/layout.css" />

        <!-- JS -->
            <script src="{{ local_static_url }}js/_libs/jquery/jquery-2.2.0.min.js"></script>
{#            <script src="{{ local_static_url }}js/_libs/bootstrap/bootstrap.min.js"></script>#}
	</head>
	<body>
	<div class="page">

		<nav>
            <div class="login">
                <ul>
                    {% if not g.user.is_authenticated() %}
                        <li class="n-login"><a href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}
                    {% if g.user.is_authenticated() %}
                        <li class="n-user-id">Hi&nbsp;{{ g.user.nickname }}!</li>
                        <li class="n-logout"><a href="{{ url_for('logout') }}">Logout</a></li>
                        <li id="user-type" class="hide">{{ g.user.type }}</li>
                    {% endif %}
                </ul>
            </div>
        </nav>

		<div id="content">
			<header>
            <div class="header-wrapper">
             <div id="header" class="menu-close">
                <div class="border-header">
                    <div class="logo">
                        <img src="{{ local_static_url }}img/icons/camera.svg"/>
                    </div>
                </div>
             </div>
            </div>
            <!-- start subheader -->
            <div id="section_top_leaderboard-mobile-0" class="mobile-top-ad mobile-ad"></div>
                <div id="sub-header">
                <div id="headline" class="feature-headline">
                    <div id="title"><span id="{{ page_mark }}">{{ page_mark }}</span></div>
                </div>
            </div>
            <!-- end subheader -->
			</header>
			<div id="main">
				{% block content %}{% endblock %}
			</div> <!-- /main -->
		</div><!-- /content -->

		<footer></footer>
	</div><!-- /page -->
	{% block scripts %}
        		<!-- CSS -->
{#            <link rel="stylesheet" type="text/css" href="{{ local_static_url }}css/bootstrap3-wysihtml5.min.css" />#}
        		<!-- JS -->
{#            <script src="{{ local_static_url }}js/_libs/canvas-to-blob.min.js"></script>#}
{#            <script src="{{ local_static_url }}js/_libs/load-image.all.min.js"></script>#}
{#            <script src="{{ local_static_url }}js/_libs/backbone/underscore.js"></script>#}
{#            <script src="{{ local_static_url }}js/_libs/backbone/backbone.js"></script>#}
{#            <script src="{{ local_static_url }}js/_libs/backbone/backbone-model-file-upload.js"></script>#}
{#            <script src="{{ local_static_url }}js/_libs/backbone/backbone.bootstrap-modal.js"></script>#}
{#            <script src="{{ local_static_url }}js/app.js"></script>#}
	{% endblock %}
	</body>
</html>