    <div class="value-props row">
      <div class="six columns columns-sm value-prop">
        <img class="value-img" src="{{ local_static_url }}img/aperturus/placeholder.jpg">
        Light as a feather at ~400 lines &amp; built with mobile in mind.
      </div>
      <div class="six columns columns-sm value-prop">
        <img class="value-img" src="{{ local_static_url }}img/aperturus/placeholder.jpg">
        Quick to start with zero compiling or installing necessary.
      </div>
    </div>
    <div class="value-props row">
      <div class="four columns columns-sm value-prop">
        <img class="value-img" src="{{ local_static_url }}img/aperturus/placeholder.jpg">
        Light as a feather at ~400 lines &amp; built with mobile in mind.
      </div>
      <div class="four columns columns-sm value-prop">
        <img class="value-img" src="{{ local_static_url }}img/aperturus/placeholder.jpg">
        Styles designed to be a starting point, not a UI framework.
      </div>
      <div class="four columns columns-sm value-prop">
        <img class="value-img" src="{{ local_static_url }}img/aperturus/placeholder.jpg">
        Quick to start with zero compiling or installing necessary.
      </div>
    </div>