<div id="nav">
    <ul class="navbar-list">
        <li class="navbar-item"><a class="navbar-link" href="#home">Home</a></li>
        <li class="navbar-item"><a class="navbar-link" href="#gallery" data-popover="#codeNavPopover">Gallery</a>
            <div id="codeNavPopover" class="popover">
                <ul class="popover-list">
                  <li class="popover-item">
                    <a class="popover-link" href="#forms">My Photos</a>
                  </li>
                  <li class="popover-item">
                    <a class="popover-link" href="#forms">Public Gallery</a>
                  </li>
                  <li class="popover-item">
                    <a class="popover-link" href="#forms">Favorites</a>
                  </li>
                  <li class="popover-item">
                    <a class="popover-link" href="#forms">Submit Photo</a>
                  </li>
                </ul>
            </div>
        </li>
        <li class="navbar-item"><a class="navbar-link" href="#profile">Profile</a></li>
        {% if not g.user.is_authenticated() %}
        <li class="navbar-item"><a class="navbar-link" href="#login">Login</a></li>
        {% else %}
        <li class="navbar-item"><a class="navbar-link" href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
        <li class="navbar-item hide" id="navbar-logo"><a class="navbar-link" href="#"><img src="{{ local_static_url }}img/aperturus/aperturus.svg"></a></li>
    </ul>
</div>
